---
import Layout from '../../components/Layout.astro';
---
<Layout title="Tech 8 Vendor 2" description="Information about Tech 8 Vendor 2">
  <h1>Tech 8 Vendor 2</h1>
  <p>Details about Tech 8 Vendor 2 will be provided here.</p>
</Layout>
