h1 {text-align: center;
	color:white;}
h2 {text-align:center;
	color:white;}
h4 {text-align: center;
	color:white;}
p {color:white;}
a:link,a:visited{
	color:white;
	text-decoration: none;
	text-align: middle;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: -10px;
	padding-bottom: 10px;
	font-size:15px;
	border: black 3px solid;
	background-color: black;
	
}

ul{
	list-style: none;
}
li{
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 20px;
	font-size:15px;
}
div.row1relativeleft
{
	position: absolute;
	top:200px;
	left:30px;
	width: 400px;
}
div.row1relativecenter
{
	position: absolute;
	top: 200px;
	left:450px;
	width: 475px;
}
div.row1relativeright
{
	position: absolute;
	top: 200px;
 left:945;
	width: 450px;
}
div.row2relativeleft
{
	position: relative;
	top: -590px;
	left: 30px;
	width: 400px;
}
div.row2relativecenter
{
	position: relative;
	top: -1340px;
	left:450px;
	width: 475px;
}div.row2relativeright
{
	position: relative;
	left:945px;
	top: -1590px;
	width: 450px;
}
progress{
	padding-left: 50px;
}
div.profile
{
	position: absolute;
	top:20px;
  left:20px;
  height: 175px;
 width: 175px;
}
div.header
{
left : 200px;
}
