---
import Layout from '../../components/Layout.astro';
---
<Layout title="Tech 2 Vendor 1" description="Details about vendor 1 in Tech 2">
  <h1>Tech 2 Vendor 1</h1>
  <p>Information about Vendor 1 for Tech 2 will be added here.</p>
</Layout>
