---
import Layout from '../../components/Layout.astro';
---
<Layout title="Tech 2 Vendor 2" description="Details about vendor 2 in Tech 2">
  <h1>Tech 2 Vendor 2</h1>
  <p>Information about Vendor 2 for Tech 2 will be added here.</p>
</Layout>
